@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.challengers{
    margin-top: 8rem;
    list-style-type: none;
}

.leftTimeDiv{
    margin-top: 5.1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #E8E8E8;
    border-radius: 8px;
}

.leftTimeDiv p{
    width: 100%;
    color: #7d7d7d;
    font-size: 17px;    
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    
}

#leftTimeLabel{
    color: #f38048;
}

.peopleNumberDiv{
    margin-top: 1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #E8E8E8;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.peopleNumberDiv p{
    width: 100%;
    color: #7d7d7d;
    font-size: 17px;    
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

#peopleNumberLabel{
    color: #f38048;
}

.refreshButton{
    float: left;
    width: 28vw;
    height: 28vw;
    margin-left: 3.6vw;
    margin-bottom: 3.4vw;
}

.challengersContainer{
    margin-top: 0;
    width: 100%;
    max-height: 61vh;
    overflow-y: scroll;
    list-style: none;
}

.titleDiv{
    position: relative;
    overflow: hidden;
    margin-top: 5%;

}

.titleDiv p{
    width: 100%;
    text-align: center;
    color: #f38048;
    margin: 0;
    margin-left: 5px;
    font-size: 6vw;
    line-height: 13vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.titleDiv img{
    position: absolute;
    width: 10%;
    top: 1vw;
    left: 20vw;
}