.challengers{
    margin-top: 8rem;
    list-style-type: none;
}

.leftTimeDiv{
    margin-top: 5.1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #E8E8E8;
    border-radius: 8px;
}

.leftTimeDiv p{
    width: 100%;
    color: #7d7d7d;
    font-size: 17px;    
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    
}

#leftTimeLabel{
    color: #f38048;
}

.peopleNumberDiv{
    margin-top: 1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #E8E8E8;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.peopleNumberDiv p{
    width: 100%;
    color: #7d7d7d;
    font-size: 17px;    
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

#peopleNumberLabel{
    color: #f38048;
}

.refreshButton{
    float: left;
    width: 28vw;
    height: 28vw;
    margin-left: 3.6vw;
    margin-bottom: 3.4vw;
}

.challengersContainer{
    margin-top: 2rem;
    width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
    list-style: none;
}