.announcement {
    color: #f38048;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    margin-bottom: 1.5rem;
    font-size: 4.35vw;
    margin-top: 5.6rem;
    
}

