@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.applyContestLabel{
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    color: #f38048;
    font-size: 6.4vw;
    margin-bottom: 1vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.rewardLabel{
    width: 100%;
    text-align: center;
    color: #f38048;
    font-size: 4vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.timerContainer{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
}

.timerContainer p{
    text-align: center;
    color: #f38048;
    font-size: 8vw;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    width: 100%;
    margin: 0;
}

.cup{
    position: absolute;
    top: 0;
    
    width: 8%;
}
.left{
    left: 12vw;
    
}
.right{
    right: 12vw;
    
}

#timerLeft{
    
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    margin : 0;
}

.contestBigContainer{
    position: relative;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-radius: 8px;
    background-color: #ffffff;
    padding-top: 7%;
    padding-bottom: 1px;
    
}

.contestImageContainer{
    position: relative;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

.contestImageContainer img{
    width: 100%;
}

.contestingImage{
    position: absolute;
    width: 31vw;
    left: 2.4vw;
    top: 2.4vw;
}

.contestingImage img{
    width: 100%;
    border-radius: 50%;
}

.applyingImage{
    position: absolute;
    width: 31vw;
    top: 2.4vw;
    left: 39.8vw;
}

.applyingImage img{
    width: 100%;
    border-radius: 50%;
}

.similarText{
    width: 100%;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #f38048;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.nicknameText{
    width: 100%;
    text-align: center;
    margin-top: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #7d7d7d;
    
}

.commentPlzBox{
    width: 80%;
    height: 10vh;
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #7d7d7d;
    border-radius: 8px;
    overflow: hidden;
}

.commentPlzBox textarea{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 5vw;
    text-align: center;
    resize: none;
    border-radius: 8px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}


.contestApplyButton{
    margin-top: 5.5%;
    margin-bottom: 7.5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-radius: 8px;
    background-color: #f38048;


}

.contestApplyButton button{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0; 
    color: #FFFFFF;
    font-size: 4vw;
    line-height: 10vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}

.similarMedal{
    position: absolute;
    width: 15vw;
    top: -5.5vw;
    left: 41.5%;
    
}

.similarMedal img{
    width: 100%;
}

.similarMedal p {
    position: absolute;
    margin: 0;
    left: 5.4vw;
    top: 2vw;
    font-size: 5vw;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #545454;
}
