@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.applyCount{
    color: #7d7d7d;
}

.applyCountSpan{
    color: #f38048;
}

.challengerCount{
    color: #7d7d7d;
}

.challengerCountSpan{
    color: #f38048;
}

.timeLabel{
    color: #7d7d7d;
}

.timeLabelSpan{
    color: #f38048;
}