@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.loadingContainer{
    width: 100%;
    margin-top: 30vh;
    
}

.processText{
    color: #f38048;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 5.3vw;
    line-height: 3.8vw;
    margin-bottom: 0;
    margin-top: 0;
}

.colorLine{
    width: 100%;
    height: auto;
    margin-bottom: 8vw;
}