@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.challengeDiv{
    position: relative;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #d8d8d8;
    border-radius: 8px;
    padding-bottom: 30px;
    margin-bottom: 5%;
    min-width : 226px;
    overflow: hidden;
    margin-top: 5%;
}

.contestLabel{
    position: relative;
    color: #7d7d7d;
    text-align: center;
    top: 14px;
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}

.separator{
    height: 1px;
    margin-left: 38.5%;
    margin-right: 38.5%;
    margin-top: 15px;
    background-color: #7d7d7d
}


.firstContext{
    color: #7d7d77;
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.secondContext{
    color: #f38048;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.ringImage{
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.ringImage img{
    width: 100%;
    height: 100%;
}

.personForChallenge{
    position: absolute;
    width: 36.5vw;
    height: 36.5vw;
    top: 3vw;
    left: 3vw;
}

.personForChallenge img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.startLink{
    border-radius: 8px;
    width: 70%;
    height : 11.5vw;
    background-color: #f38048;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
}

.startLinkLabel{
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 11.5vw;  
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}


.startLinkLabel :visited{
    color: #ffffff;
    text-decoration: none;
}



