@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.topHeadLine{
    
    height: 1rem;
    margin-bottom: 1rem;
}

.rankCheck{
    color : #9b9b9b;
    float : right;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 15px;
}

.rankCheck :visited {
    color : #9b9b9b;
    text-decoration: none;
}

.rankNumberOneNow{
    font-size: 11px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 15px;
    float: left;
    vertical-align: middle;
    margin-top:  5px;
    margin-left: 4px;
    color: #7d7d7d
}

.topContainer{
    
    
    border-radius: 8px;
    background-color: #E8E8E8;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    min-width : 226px;
    overflow: auto;
    padding-bottom: 4%;
}

.heartImg{
    float: left;
    width: 15px;
    margin-left: 10px;
    margin-top: 5px;
}


.imgContainer{
    
    position: relative;
    width: 23%;
    margin-left: 7%;
    
}

.imgContainer img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    
}

.imgContainer p{
    font-size: 3.5vw;
    text-align: center;
    color: #9b9b9b;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    
}

.imgContainer a{
    text-decoration: none;
}

.firstContainer{
    
    float: left;
    
}

.firstPrize{
    position: absolute;
    width: 16vw;
    height: 16vw;
    
    top: 1.8vw;
    left: 1.8vw;
}

.firstPrize img{
    border-radius: 50%;
    width : 100%;
    height: 100%;
}

.rankingMedal{
    position: absolute;
    width: 8vw;
    top: -0.5vw;
    left: -0.5vw;
}

.rankingMedal p{
    position: absolute;
    font-size: 2.5vw;
    color: #545454;
    top: 0;
    left: 0vw;
    width: 100%;
    line-height: 6.6vw;
    text-align: center;
    margin: 0;
}

.suffix{
    font-size: 1.8vw;
}




