.topHeadLine{
    
    height: 1rem;
    margin-bottom: 1rem;
}

.rankCheck{
    color : #9b9b9b;
    float : right;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 12px;
}

.rankCheck :visited {
    color : #9b9b9b;
    text-decoration: none;
}

.rankNumberOneNow{
    font-size: 12px;
    float: left;
    vertical-align: middle;
    margin-top:  5px;
    margin-left: 4px;
    color: #7d7d7d
}

.rankNumberOneNowSpan{
    color: #f38048;
}

div.topContainer{
    
    
    border-radius: 8px;
    background-color: #E8E8E8;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    min-width : 226px;
    overflow: auto;
    
}

.heartImg{
    float: left;
    width: 13px;
    margin-left: 10px;
    margin-top: 5px;
}


div.contestContainer{
    position: relative;
    margin-bottom: 4%;
    margin-top: 4%;
    
}

.imgContainer{
   
    position: relative;
    width: 54%;
    
    margin-left: 6%;
    
}

.imgContainer img{
    width: 100%;
    height: 100%;
}

.myImg{
    
    position: absolute;
    
    
    top: 9%;
    left: 55.5%;
    width: 40%;
    
    
}

.myImg img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.contestImg{
    
    position: absolute;
    
    top: 9%;
    left : 5%;
    width: 40%;

    
}

.contestImg img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}