.voteSituationLink{
    width: 38.75%;
    margin-left: 7.5%;
    margin-right: 53.75%;
    background-color: #d8d8d8;
    border-radius: 8px;
    padding-top: 8%;
    padding-bottom: 6%;
    min-width: 109px;
}

.voteSituationLink a{
    display: block;
    
    color: #7d7d7d;
    text-decoration: none;
    
}

.voteSituationLink a :visited{
    text-decoration: none;
    color: #7d7d7d;
    
}

.voteSituationLink a p{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 6%;
    bottom: 0;
    vertical-align: middle;
}

.heartImage{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 0px;
}
.heartImage div{
    width: 100%;
    padding-left: 32.5%;

}

.heartImage img{
    width: 35%;
    
}