@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.voteSituationLink{
    width: 40%;
    margin-left: 7.5%;
    margin-right: 0%;
    margin-bottom: 8%;
    background-color: #d8d8d8;
    border-radius: 8px;
    padding-top: 8%;
    padding-bottom: 6%;
    min-width: 109px;
    float:left;
}

.voteSituationLink a{
    display: block;
    
    color: #7d7d7d;
    text-decoration: none;
    
}

.voteSituationLink a :visited{
    text-decoration: none;
    color: #7d7d7d;
    
}

.voteSituationLink a p{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 6%;
    bottom: 0;
    vertical-align: middle;
    font-size: 4vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.personImage{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 0px;
}
.personImage div{
    width: 100%;
    padding-left: 32.5%;

}

.personImage img{
    width: 35%;
    height: auto;
    
}

