@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


.challengerContainer{
    margin-top: 1.3rem;
    padding-top: 0;
}

.challengerImgContainer{
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.challengerContainer img{
    width: 100%;
    height: 100%;
}

.contestpProfileImage{
    position: absolute;
    width: 51vw;
    height: 51vw;
    left: 4.2vw;
    top: 4.2vw;
}

.contestpProfileImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.similarityLabel{
    width:100%;
    text-align: center;
    color: #f38048;
    margin-bottom: 1vw;
    font-size: 4.4vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.nicknameLabel{
    color: #7d7d7d;
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 4.4vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.commentBox{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 6%;
    border-color: #d2d2d2;
    border-width: 0.27vw;
    border-style: solid;
    border-radius: 8px;
}

.commentBox img{
    position: absolute;
    width: 6vw;
    height: 4vw;
    top: -3.8vw;
    left: 45%;
}

.commentBox p{
    color: #7d7d7d;
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}