@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.mypageDiv{
    margin-top: 5.1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #E8E8E8;
    border-radius: 8px;
    text-align: center
}

#mypageText{
    color: #f38048;
}

.signOutButton{
    border-radius: 8px;
    width: 70%;
    height : 10vw;
    background-color: #677dbe;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    font-size: 5vw;   
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}

.signOutButton button{
    border: 0; 
    background-color: transparent;  
}

.signOutButtonLabel{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 10vw;  
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.contestButton{
    border-radius: 8px;
    width: 70%;
    height : 10vw;
    background-color: #f38048;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;   
    text-decoration: none;
}

.contestButtonLabel{
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 10vw;
    font-size: 5vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 100%;
}