.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 4rem;
    text-align: center;
    background: white;
    z-index: 100;
}

.item {
    display: inline-table;
    width  : 8rem;
    height : 4rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #f38048;
    padding-right: 1.2rem;
    
}

.item img{
    border-radius: 50%;
}

.logoImage{
    width: 100%;
    margin-top: 1.1rem;
}

.profile {
    width  : 2.3rem;
    height : 2.3rem;
    
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;
    float: right;
    margin-right: 1rem;
    padding-right: 0rem;
    
}

.profile img{
    width: 100%;
    height: 100%;
    background-size: cover;
}



#dummy {
    width  : 3rem;
    height : 4rem;
    float  : left; 
    margin-left: 0.5rem;
    padding-right: 0rem;
}

/* .header {
    background: #5c7cfa;
    display: table;
    table-layout: fixed;
    width: 100%
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;  
}

.item:hover {
    background: #748ffc;
} 

.item:active, .item.active {
    background: white;
    color: #5c7cfa
} */