.header {
    width: 100%;
    height: 4rem;
    text-align: center;
    background: white
}

.item {
    display: inline-table;
    width  : 4rem;
    height : 4rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #f38048
}

.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.profile {
    float: right;
}

#dummy {
    width  : 4rem;
    height : 4rem;
    float  : left; 
}

/* .header {
    background: #5c7cfa;
    display: table;
    table-layout: fixed;
    width: 100%
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;  
}

.item:hover {
    background: #748ffc;
} 

.item:active, .item.active {
    background: white;
    color: #5c7cfa
} */